{% extends "index.html" %}

{% block content %}
<form>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
    </div>
    <div class="form-row">
        <div class="col">
            <label for="name">Name</label>
            <input type="text" class="form-control" placeholder="Name">
        </div>
        <div class="col">
            <label for="surname">Surname</label>
            <input type="text" class="form-control" placeholder="Surname">
        </div>
    </div>
    <div class="form-group">
        <label for="title">Message Title</label>
        <textarea class="form-control" id="title" rows="1"></textarea>
    </div>
    <div class="form-group">
        <label for="content">Message Content</label>
        <textarea class="form-control" id="content" rows="8"></textarea>
    </div>
    <button type="button" class="btn btn-secondary btn-lg btn-block">SEND</button>
</form>
{% endblock %}